body{
  background: url('http://mackinnm.cs321.simmons.edu/images/Skye.jpg') no-repeat;
  background-size: cover;
  font-family: arial;
  font-weight: bolder;
  color: white;
  font-size: 20px;
}
a { color:White;}
}
footer {
  display: block;
  font-family: arial;
  color: white;
  font-size: 10px;
  text-align:center;

</
